<img id="definition" src="../images/definition.jpg" alt="" />

<div class="text-center">
  <h1>Welcome to your Personal Dictionary</h1>

  <p>
    Here you will add words you learn. Then you can add the definition/s to your words and view them.
  </p>

  <h3><a href="/words">Create a word!</a></h3>
</div>
