<div class="text-center">
  <h1>Add a new word!</h1>

  <form action="/words" method="post">
    <div class="form-group">
      <label for="userWord">Your Word</label>
      <input id="userWord" name="userWord" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Add Word</button>
  </form>
</div>
